<ion-menu side="start"
              menuId="menuMarcas" 
              contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Filtrar por marcas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
         <ion-menu-toggle>
            <ion-item (click)="filtrarMarca('ducati')">    
              <ion-title>Ducati</ion-title>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item (click)="filtrarMarca('yamaha')">            
              <ion-title>Yamaha</ion-title>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item (click)="filtrarMarca('honda')">           
              <ion-title>Honda</ion-title>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item (click)="filtrarMarca('todas')">
              <ion-title>Todas las marcas</ion-title>
            </ion-item>
          </ion-menu-toggle>
          
     
        </ion-list>
      </ion-content>
  </ion-menu>
