<ion-header [translucent]="true">
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-menu-button menu="menuMarcas" color="primary"></ion-menu-button>
      </ion-buttons>


    <ion-title>
      Escoge una moto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >
    <ion-item *ngFor="let moto of listaMotos" (click)="abritDetalle(moto)">
      <ion-img class="img-list"[src]="moto.foto" [alt]="moto.modelo" ></ion-img>
      <h3>{{moto.marca}}</h3>
      <p>{{moto.modelo}}</p>
    </ion-item>
    
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


