<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-buttons defaultHref="/" text ="Regresar" color="primary">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-button>
    <ion-title>Detalle Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-img [src]="motoDetalle.foto"></ion-img>

    <ion-card-header>
      <ion-card-subtitle>{{motoDetalle.marca}}</ion-card-subtitle>
      <ion-card-title>{{motoDetalle.modelo}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>Año: {{motoDetalle.year}}</ion-card-subtitle>
      <ion-card-subtitle>Precio: {{motoDetalle.precio}}€</ion-card-subtitle>

      <ion-button (click)="borrarMoto()" expand="block"  shape="round"color="warning">
        Borrar moto de la lista
      </ion-button>

    </ion-card-header>
  </ion-card>

</ion-content>
